*{
  font-family: 'Titillium Web', sans-serif;
  transition: all .2s ease;
}

html {
  overflow: hidden;
}

body{
  margin: 5px;
  transition: baground-color 0.5s;
}

.notice {
  font-style: italic;
}

/* Upper grid of images */
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

/* Style the images inside the grid */
div.scrollmenu img {
  opacity: 0.8;
  cursor: pointer;
}

div.scrollmenu img:hover {
  opacity: 1;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
  background-color: #111; /* Black*/
}

/* The slide image */
.container img {
  display: block;
  position: relative;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  background-color: black;
  border: 1px solid #000;
  color: white;
  transition: 0.5s;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Style of the invalid button */
.styled {
  margin-top: 5;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

/* Activetion style for button */
.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/* Color style for alert button */
.alert {
  background-color: rgba(220, 0, 0, 1);
}

/* Change color style for alert button when mouse over */
.alert:hover {
  background-color: rgba(255, 0, 0, 1);
}

/* Color style for valid button */
.valid {
  background-color: rgba(0, 220, 0, 1);
}

/* Change color style for valid button when mouse over */
.valid:hover {
  background-color: rgba(0, 250, 0, 1);
}

/* Color style for info button */
.info {
  background-color: rgba(0, 220, 220, 1);
}

/* Change color style for info button when mouse over */
.info:hover {
  background-color: rgba(0, 255, 255, 1);
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


/* Tooltip style class for help messages */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* Tooltip text appears on the left */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #333;;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

/* Tooltip text visibility */
.tooltip:hover .tooltiptext {
  visibility: visible;
}